@import '../../css/base';

.container--constrained {
  @include main-grid;
}


// Background Styles
//------------------------------------------------------------------------------

.bg-light {
  background-color: #f0f0f0;
}

.bg-lighter {
  background-color: #f9fAf9;
}

.bg-dark {
  background-color: #505050;
  color: #fff;
}
