// Layout
//------------------------------------------------------------------------------

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
  padding: 0 0 2rem 0;

  .page--landing & {
    padding-bottom: 0;
  }
}

