
.card-group {
  padding: 2rem 0;

  &__title {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  &__cards {
    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(auto, 33%));
    justify-content: space-evenly;
    justify-items: center;

    @media(min-width: 650px) {
      display: grid;
    }

    > .card {
      grid-column: auto / span 1;
    }
  }

  > .btn-group {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}

