// Style for the Card component.
// -----------------------------------------------------------------------------

.card {
  &__title {
    font-size: 1.1rem;
    letter-spacing: 0.11px;
    color: #000;
    margin-bottom: 0.5rem;
  }

  &__img  {
    width: 100% !important;

    img {
      display: block;
      object-fit: contain;
    }
  }


  &__text {
    p {
      font-size: .75rem;
      letter-spacing: 0.4px;
      line-height: 1.5;
    }
  }
}

