
@mixin main-grid {
  display: grid;
  grid-template-columns: 1.5rem 1fr 1.5rem;

  @media (min-width: 1024px) {
    grid-template-columns: 1fr minmax(auto, 80vw) 1fr;
  }

  > * {
    grid-column: 2;
  }
}
