@import 'base';

:root {
  --color-accent-dark: #1aafd0;
  --color-accent-light: #fff;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 115%;
  line-height: 1.8;
  text-rendering: optimizeLegibility;
}

html, body {
  margin: 0;
  padding: 0;
}

html, body, input, select, textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen-Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
}

// Layout
//------------------------------------------------------------------------------

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
  padding: 0 0 2rem 0;
}

.main-grid {
  @include main-grid;
}


// Links
//------------------------------------------------------------------------------

a {
  color: inherit;
  text-decoration: none;
}


// Paragraphs
//------------------------------------------------------------------------------

p {
  margin: 0 0 1rem 0;
}


// Headings
//------------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
  margin: 0 0 1.25rem 0;
  font-weight: 300;

  a,
  a > & {
    color: var(--color-accent-dark);
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.35rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
}

// Text
//------------------------------------------------------------------------------

.text {
  display: contents;

  > * {
    grid-column: 2;
  }

  pre {
    grid-column: 1 / -1;
    padding-left: calc((100vw - 65vw) / 2);
    padding-right: calc((100vw - 65vw) / 2);
  }
}
