@import 'base';

:root {
  --color-accent-dark: #1aafd0;
  --color-accent-light: #fff;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 110%;
  line-height: 1.8;
  text-rendering: optimizeLegibility;
}

html, body {
  margin: 0;
  padding: 0;
}

html, body, input, select, textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen-Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
}


// Links
//------------------------------------------------------------------------------

a {
  color: inherit;
  text-decoration: none;
}


// Paragraphs
//------------------------------------------------------------------------------

p {
  margin: 0 0 1rem 0;
}


// Headings
//------------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
  margin: 0 0 1.25rem 0;
  font-weight: 300;

  a,
  a > & {
    color: var(--color-accent-dark);
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.35rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
}

// Listing
//------------------------------------------------------------------------------

.listing {
  list-style: none;
  padding: 2rem 0 0 0;
  margin: 0;
}

.listing__item {
  margin-bottom: 2rem;
}


