@import '../../css/base';

// Blockquote
//------------------------------------------------------------------------------

blockquote {
  background-color: #f0f0f0;
  border-radius: 2px;
  color: #4a4a5a;
  margin: 0 0 1rem 0;
  padding: 5rem 1.25rem;
}

.blockquote {
  &__container {
    grid-template-columns: 1fr minmax(auto, 50vw) 1fr;
    row-gap: 2rem;
  }

  &__text,
  &__attribution {
    grid-column: 2;
  }

  &__text {
    font-size: 1.6rem;
    line-height: 1.5;

    p:last-child {
      margin-bottom: 0;
    }
  }

  &__attribution {
    margin-bottom: 0;
    text-align: right;
  }
}
